# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Streamlit
.streamlit/

# Data
data.json
images/
*.db
lostandfound.db

# IDE
.vscode/
.idea/
*.swp
*.swo
